.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--form-text-color);
  max-width: 600px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.company {
  font-size: 18px;
  color: var(--btn-color);
  margin: 0;
}

.dates {
  font-size: 14px;
  color: var(--form-text-color);
  margin: 0;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
}

@media (width >= 800px) {
  .title {
    font-size: 24px;
  }

  .company {
    font-size: 20px;
  }

  .dates {
    font-size: 16px;
  }

  .description {
    font-size: 18px;
  }
}
